In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [6]:
# 1. Load the data
Fund_rel_path = '/home/bld/bld_data/yuanjian/llama-trl/KG_data/fund/results_funds_13.csv'
fund_data = pd.read_csv(Fund_rel_path)

In [7]:
fund_data.head()

   2008-06-30  00036020  00036110  {76868.0}  {54594.0}  1
0  2008-06-30  00036020  00081T10  {76868.0}  {90825.0}  1
1  2008-06-30  00036020  00086T10  {76868.0}  {85452.0}  1
2  2008-06-30  00036020  00088630  {76868.0}  {50906.0}  1
3  2008-06-30  00036020  00088U10  {76868.0}  {82544.0}  1
4  2008-06-30  00036020  00095710  {76868.0}  {47730.0}  1

In [15]:
fund_data.shape

(1378664980, 6)

In [18]:
fund_data.tail(1000)

            2008-06-30  00036020  00036110  {76868.0}  {54594.0}  1
1378663980  2013-03-31  G8127610  G9618E10  {12076.0}  {68419.0}  1
1378663981  2013-03-31  G8127610  G9826810  {12076.0}  {90242.0}  1
1378663982  2013-03-31  G8127610  H2717810  {12076.0}  {18112.0}  1
1378663983  2013-03-31  G8127610  H2906T10  {12076.0}  {88837.0}  1
1378663984  2013-03-31  G8127610  H5043023  {12076.0}  {84621.0}  1
...                ...       ...       ...        ...        ... ..
1378664975  2013-03-31  Y8166910  Y8564M10  {90950.0}  {90703.0}  1
1378664976  2013-03-31  Y8166910  Y8564W10  {90950.0}  {81784.0}  1
1378664977  2013-03-31  Y8564M10  Y8564W10  {90703.0}  {81784.0}  1
1378664978  2013-03-31  Y8564M10  Y8565J10  {90703.0}  {91656.0}  1
1378664979  2013-03-31  Y8564W10  Y8565J10  {81784.0}  {91656.0}  1

[1000 rows x 6 columns]

In [6]:
result_funds_18_path = '/home/bld/bld_data/yuanjian/llama-trl/KG_data/fund/results_funds_18.csv'
fund_data_18 = pd.read_csv(result_funds_18_path)

In [7]:
fund_data_18

            2013-06-30  00036020  00036110  {76868.0}  {54594.0}  1
0           2013-06-30  00036020  00081T10  {76868.0}  {90825.0}  1
1           2013-06-30  00036020  00086810  {76868.0}  {12480.0}  1
2           2013-06-30  00036020  00095710  {76868.0}  {47730.0}  1
3           2013-06-30  00036020  00101J10  {76868.0}  {13567.0}  1
4           2013-06-30  00036020  00103110  {76868.0}  {10025.0}  1
...                ...       ...       ...        ...        ... ..
1378348640  2018-03-31  Y8564W10  Y8565J10  {81784.0}  {91656.0}  1
1378348641  2018-03-31  Y8564W10  Y8565N30  {81784.0}  {92518.0}  1
1378348642  2018-03-31  Y8564W10  Y9530810  {81784.0}  {15857.0}  1
1378348643  2018-03-31  Y8565J10  Y8565N30  {91656.0}  {92518.0}  1
1378348644  2018-03-31  Y8565N30  Y9530810  {92518.0}  {15857.0}  1

[1378348645 rows x 6 columns]

In [8]:
fund_data_18.columns

Index(['2013-06-30', '00036020', '00036110', '{76868.0}', '{54594.0}', '1'], dtype='object')

In [10]:
fund_data_18['2013-06-30'].unique()

array(['2013-06-30', '2013-09-30', '2013-12-31', '2014-03-31',
       '2014-06-30', '2014-09-30', '2014-12-31', '2015-03-31',
       '2015-06-30', '2015-09-30', '2015-12-31', '2016-03-31',
       '2016-06-30', '2016-09-30', '2016-12-31', '2017-03-31',
       '2017-06-30', '2017-09-30', '2017-12-31', '2018-03-31'],
      dtype=object)

## fund relation 2013 - 2018 文件中共存在一下这些时间点：

       ['2013-06-30', '2013-09-30', '2013-12-31', '2014-03-31',

       '2014-06-30', '2014-09-30', '2014-12-31', '2015-03-31',

       '2015-06-30', '2015-09-30', '2015-12-31', '2016-03-31',

       '2016-06-30', '2016-09-30', '2016-12-31', '2017-03-31',

       '2017-06-30', '2017-09-30', '2017-12-31', '2018-03-31']

In [11]:
fund_data_18['00036020'].unique()

array(['00036020', '00036110', '00037520', ..., 'L1995B10', 'L8681T10',
       'M8694L10'], dtype=object)

In [12]:
fund_data_18_company_list = fund_data_18['00036020'].unique().tolist()

In [19]:
len(fund_data_18_company_list)

7148

In [20]:
fund_data_18_company_list_2 = fund_data_18['00036110'].unique().tolist()

In [21]:
len(fund_data_18_company_list_2)

7156

In [22]:
fund_data_18_rel_exist_or_not = fund_data_18['1'].unique().tolist()

In [23]:
fund_data_18_rel_exist_or_not

[1]

In [24]:
len(fund_data_18_rel_exist_or_not)

1

In [25]:
fund_data_18_company_list_3 = fund_data_18['{76868.0}'].unique().tolist()

In [26]:
len(fund_data_18_company_list_3)

7550

In [27]:
fund_data_18_company_list_4 = fund_data_18['{54594.0}'].unique().tolist()

In [28]:
len(fund_data_18_company_list_4)

7559

In [19]:
patent_rel_path = '/home/bld/bld_data/yuanjian/llama-trl/KG_data/patent/2015.csv'
patent_data = pd.read_csv(patent_rel_path)

In [20]:
patent_data.head()

,Unnamed: 0,ORCL,MSFT,HON,EMC,AKRX,RGEN,BEAM,CLDX,SIGM,...,AOSL,CDXS,MITL,OCZ,PLOW,CODE,FURX,TNAV,BSFT,TSLA
0,ORCL,1.000000,0.986089,0.510183,0.974666,0.001629,0.002580,0.009070,0.000782,0.555487,...,0.112198,0.001026,0.497179,0.891872,0.002870,0.218175,0.000579,0.444101,0.395881,0.094610
1,MSFT,0.986089,1.000000,0.516407,0.944854,0.008874,0.006731,0.011793,0.007465,0.657208,...,0.042425,0.001864,0.605568,0.827872,0.004396,0.144038,0.007384,0.466311,0.512083,0.395881
2,HON,0.510183,0.516407,1.000000,0.432178,0.057296,0.224675,0.142817,0.107796,0.388204,...,0.343717,0.037051,0.370293,0.357598,0.099497,0.393262,0.050794,0.725561,0.466311,0.444101
3,EMC,0.974666,0.944854,0.432178,1.000000,0.001722,0.001295,0.006619,0.001319,0.393424,...,0.003209,0.000462,0.325612,0.945075,0.002125,0.101333,0.001383,0.050794,0.007384,0.000579
4,AKRX,0.001629,0.008874,0.057296,0.001722,1.000000,0.139382,0.000000,0.893435,0.000000,...,0.000190,0.044992,0.000566,0.000000,0.000000,0.001635,0.101333,0.393262,0.144038,0.218175

In [22]:
patent_data.tail(10)

,Unnamed: 0,ORCL,MSFT,HON,EMC,AKRX,RGEN,BEAM,CLDX,SIGM,...,AOSL,CDXS,MITL,OCZ,PLOW,CODE,FURX,TNAV,BSFT,TSLA
1372,AOSL,0.112198,0.042425,0.343717,0.003209,0.000190,0.000331,0.001342,0.000031,0.000685,...,1.000000,0.239337,0.003596,0.000866,0.021817,0.013148,0.118742,0.392452,0.168531,0.197374
1373,CDXS,0.001026,0.001864,0.037051,0.000462,0.044992,0.401639,0.000000,0.103647,0.000000,...,0.239337,1.000000,0.000000,0.000000,0.000000,0.000000,0.393424,0.388204,0.657208,0.555487
1374,MITL,0.497179,0.605568,0.370293,0.325612,0.000566,0.000376,0.003554,0.000000,0.103647,...,0.003596,0.000000,1.000000,0.000000,0.146433,0.893435,0.001319,0.107796,0.007465,0.000782
1375,OCZ,0.891872,0.827872,0.357598,0.945075,0.000000,0.000000,0.000000,0.003554,0.000000,...,0.000866,0.000000,0.000000,1.000000,0.083282,0.000000,0.006619,0.142817,0.011793,0.009070
1376,PLOW,0.002870,0.004396,0.099497,0.002125,0.000000,0.411084,0.000000,0.000376,0.401639,...,0.021817,0.000000,0.146433,0.083282,1.000000,0.139382,0.001295,0.224675,0.006731,0.002580
1377,CODE,0.218175,0.144038,0.393262,0.101333,0.001635,0.000000,0.000000,0.000566,0.044992,...,0.013148,0.000000,0.893435,0.000000,0.139382,1.000000,0.001722,0.057296,0.008874,0.001629
1378,FURX,0.000579,0.007384,0.050794,0.001383,0.101333,0.002125,0.945075,0.325612,0.000462,...,0.118742,0.393424,0.001319,0.006619,0.001295,0.001722,1.000000,0.432178,0.944854,0.974666
1379,TNAV,0.444101,0.466311,0.725561,0.050794,0.393262,0.099497,0.357598,0.370293,0.037051,...,0.392452,0.388204,0.107796,0.142817,0.224675,0.057296,0.432178,1.000000,0.516407,0.510183
1380,BSFT,0.395881,0.512083,0.466311,0.007384,0.144038,0.004396,0.827872,0.605568,0.001864,...,0.168531,0.657208,0.007465,0.011793,0.006731,0.008874,0.944854,0.516407,1.000000,0.986089
1381,TSLA,0.094610,0.395881,0.444101,0.000579,0.218175,0.002870,0.891872,0.497179,0.001026,...,0.197374,0.555487,0.000782,0.009070,0.002580,0.001629,0.974666,0.510183,0.986089,1.000000

In [21]:
patent_data.shape

(1382, 1383)

## To do list
-  make a data description file
-  Collect stock trading data from 1965 to 2021
-  fund_relation 中的每一列表示什么含义？
-  fund_relation 数据需要按照时间进行再次分割
-  基于原始关系数据构建二进制邻接矩阵
-  图结构的设计（如果使用专利数据，同一年度使用同一张图结构（关系表示），不同年度使用不同的邻接矩阵）
-  模型设计
-  预测收益率还是股价异或是基于预测的股价计算收益率？
-  Trading Stragey
-  Evaluation Protocol：MSE、IRR?
-  图结构稀疏化处理

In [2]:
boardex_rel_path = '/home/bld/bld_data/yuanjian/llama-trl/KG_data/boardex/boardex_result_cusip.csv'

In [3]:
boardex_rel = pd.read_csv(boardex_rel_path)

In [4]:
boardex_rel

,Unnamed: 0,Date,StartCompanyName,ConnCompanyName,UniqueDirectorsCount
0,0,1962-01-01,438516106,459200101,1
1,1,1962-01-01,459200101,438516106,1
2,2,1962-01-01,459200101,98421M106,1
3,3,1962-01-01,98421M106,459200101,1
4,4,1962-01-02,438516106,459200101,1
...,...,...,...,...,...
181228378,181228378,2023-09-08,86877M209,901384107,1
181228379,181228379,2023-09-08,86877M209,92764N102,1
181228380,181228380,2023-09-08,86877M209,98422T100,1
181228381,181228381,2023-09-08,98422T100,59045L106,1
181228382,181228382,2023-09-08,98422T100,87164F105,1